.carImageContainer {
  /* border: solid black; */
  /* width: 30rem; */
  /* margin-left: 36.3rem; */
  /* background-color: white; */
  /* margin-top: 8rem; */
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
  /* align-items: center; */
  justify-content: center;
  z-index: 1;
}


.carName {
  color: black
}

.carImage {
  height: 20rem;
  width: 30rem;
  vertical-align: middle;

}

.carDescription {
  color: black;
}

/* .column{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 2vw);
  grid-gap: 1px;
} */

.Upload {
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,grey,red);
  /* width: 4re; */
  border: 0;
  border-radius: .5rem;
  padding: 15px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 1rem;
  text-align: center;
  text-decoration: none;
  margin-top: 1rem;
}

.carImages {
  width: 100%;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-wrap:wrap;
  gap: 1rem;
  margin: 0 auto;
  margin-bottom: 12rem;
  /* background-color: red; */
}

.singleCarBackground2 {
  /* position: absolute; */
  /* position: fixed; */
  /* background-color: rgb(37, 37, 37); */
  background-image: url(https://www.hdcarwallpapers.com/walls/super_sports_cars-HD.jpg);
  background-size: cover;
  background-position: center;
  height: 10%;
  width: 10%;
  margin-top: 0rem;
  height: 20rem;
  width: 100%;
  margin-left: 0;
  left: 0;
  top: 0;
  z-index: -10;

}
.singleCarBackgroundBottom2{
  position: fixed;
  background-color: rgb(255, 255, 255);
  /* margin-top: 10rem; */
  height: 100%;
  width: 100%;
  margin-left: 0;
  left: 0;
  top: 0;
  z-index: -10;
}
