header .header{
  background-color: #fff;
  height: 45px;
}
header a img{
  width: 134px;
  margin-top: 4px;
}
.login-page {
  width: 400px;
  padding: 8% 0 0;
  margin: auto;
}
.login-page .form .login{
  margin-top: -31px;
  margin-bottom: 26px;
}
.form {
  /* position: fixed; */
  z-index: 1;
  background-color: transparent;
  /* background-image: url(https://tse1.mm.bing.net/th?id=OIP.M-4Yy-rkeutBFjMJeQA5cAHaEK&pid=Api&P=0&w=319&h=180); */
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  float:right;
  margin-top: 1rem;

}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 15px;
}
.form button {
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,grey,red);
  width: 100%;
  border: 0;
  border-radius: .5rem;
  padding: 15px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.container {
  position: relative;
  z-index: 1;
  max-width: 300px;
  margin: 0 auto;
}

.userLogin {
  font-size: 22px;
  color: white;
  font-family: sans-serif;
}

.passwordLogin {
  font-size: 22px;
  color: white;
  font-family: sans-serif;
}

.loginTitle {
  font-family: sans-serif;
  font-size: 20px;
  color: white;
}

.message{
  font-family: sans-serif;
  font-size: 10px;

}

.form .message {
  margin: 15px 0 0;
  color: white;
  font-size: 12px;
}
.form .message a {
  color: red;
  text-decoration: none;
}
