.singleCarBackground {
  /* position: absolute; */
  /* position: fixed; */
  background-color: rgb(37, 37, 37);
  margin-top: 0rem;
  height: 33.5rem;
  width: 100%;
  margin-left: 0;
  left: 0;
  top: 0;
  z-index: -10;

}
.singleCarBackgroundBottom{
  position: fixed;
  background-color: rgb(255, 255, 255);
  /* margin-top: 10rem; */
  height: 100%;
  width: 100%;
  margin-left: 0;
  left: 0;
  top: 0;
  z-index: -10;
}
.singleCarComponent {
  position: absolute;
  top:7%;
  justify-content: center;
  left:35.5%;
  right: 35.5%;
}

/* .carContainer2{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left:35.5%;
  right: 35.5%; */

.singleCarName{
  color: white;
  text-align: center;
  /* margin-left: 13rem; */
}
.descriptionContainer {
  border: solid black;
  padding: 1rem;
  /* background-color: grey; */
  width: 28rem;
}
.singleCarDescription {
  color:black;
  /* width: 5rem; */
}

.buttonContainer {
  display: flex;
  margin-top: 1rem;
  /* margin-left: auto; */
}

.delete{
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,grey,red);
  width: 6em;
  border: 0;
  border-radius: .5rem;
  padding: 12px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 2.5rem;
}
.back {
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,grey,red);
  width: 100%;
  border: 0;
  border-radius: .5rem;
  padding: 12px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.edit {
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,grey,red);
  width: 5rem;
  border: 0;
  border-radius: .5rem;
  padding: 12px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 4rem;
}
.hidden {
  display: none;
}

.carImage {
  /* height: 25rem;
  width: 35rem; */
  /* margin: auto; */
  /* margin-right: 200rem; */
}


.commentInput {
  margin-top: 1rem;
  width: 29.9rem;
  height: 5rem;
}

.addCommentSubmit {
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,grey,red);
  width: 7rem;
  border: 0;
  border-radius: .2rem;
  padding: 8px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 1rem;
  margin-left: 23.4rem;
  margin-top: .5rem;

}

.editCommentInput {
  width: 29.9rem;
  height: 5rem;
}

.allCommentsContainer{
  width: 29.9rem;
  height: 5rem;
  /* border: solid black; */
  margin-top: 5rem;
  align-items: center;
}


/* .commentButtonContainer{
  align-items: center;
  justify-content: center;
} */
.deleteCommentButton {
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,grey,red);
  width: 7rem;
  border: 0;
  border-radius: .2rem;
  padding: 8px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 1rem;
  position: absolute;
  left: 22rem;

}

.editCommentButton {
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,grey,red);
  width: 7rem;
  border: 0;
  border-radius: .2rem;
  padding: 8px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  position: absolute;
  left: 14rem;
  margin-top: 1rem;

}

.submitEditButton{
  margin-top: .4rem;
  margin-left: 1rem;
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,grey,red);
  width: 11rem;
  border: 0;
  border-radius: .2rem;
  padding: 7.6px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  /* padding: 1rem; */
}
