.signUpForm {
  margin-right: 3rem;
}
.error {
  color: red;
  /* width: 9rem; */
}

.signUpContainer {
  /* border: solid black; */
  display: flex;
  position: relative;
  margin: 0 auto;
  bottom: 10rem;
  color: white;
  margin-top: 20rem;
  flex-flow:column;
  background-color:transparent;
  width: 30rem;
  padding-left: 8.5rem;
}

.signUpFormButton {
  text-transform: uppercase;
  outline: 0;
  background-color: #328f8a;
  background-image: linear-gradient(45deg,grey,red);
  width: 20rem;
  border: 0;
  border-radius: .2rem;
  padding: 10px;
  color: white;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-bottom: 1rem;

}

.signUpFormInput{
  outline: 0;
  background: #f2f2f2;
  width: 20rem;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  margin-top: 15px;
  border-radius: .2rem;
}

.already{
  text-align:justify;
  margin-left: 4.5rem;
  font-size: 16px;
}
.loginButtonSignUp{
  text-align:justify;
  margin-left: 7.7rem;
  text-decoration: none;
  color: red;
}
