.signUpForm {
  margin-top: 20rem;
}
.error {
  color: red;
}

.signUpContainer {
  border: solid black;
  display: flex;
  position: relative;
  bottom: 10rem;
  color: white;
  margin-top: 20rem;
  flex-flow:column;

}


