.homeButton {
  color: white;
  font-size: 30px;
  text-decoration: none;
  margin-left: 3rem;
  margin-right: 1rem;
}

.signupButton {
  position: absolute;
  right: 1.5rem;
  text-decoration: none;
  border: 0px solid black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  background-color: white;
  color: black;
  font-weight: 600;
  margin-bottom: 6rem;
  margin-right: 2.5rem;
  margin-top: 5rem;
}

@media screen and (max-width: 960px) {
  .signupButton {
    display: none;
  }
}

.signupButton:hover {
  color: #00000050;
}

.loginButton {
  position: absolute;
  right: 10rem;
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: -1rem;
}

@media screen and (max-width: 1330px) {
  .loginButton {
    display: none;
  }
}

.buttonContainer {
  display: flex;
  align-items: center;
  height: 65px;
}

.header {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  padding: 20px;
  background-color: rgba(30, 30, 30, 0.6);
  height: 21px;
  top: 0;
  right: 0;
  width: 100%;
}

.nav {
  background-color: white;
}

.search-bar {
  z-index: 100;
}

.search-input {
  position: relative;
  margin-left: 7.5rem;
  border: 1px solid white;
  height: 27px;
  width: 60rem;
  padding: 2px 23px 2px 30px;
  outline: 0;
  background-color: white;
  z-index: 1;
  overflow: hidden;
  transition: 0.4s;
  border-radius: 2px;
}

@media screen and (max-width: 960px) {
  .search-input {
    display: none;
  }
  .searchResultsContainer {
    display: none;
  }
}

@media screen and (max-width: 1450px) {
  .search-input {
    width: 40rem;
  }

}

.home {
  z-index: 100;
}

.searchResultsContainer{
  position: absolute;
  top: 80%;
  margin-left: 7.5rem;;
  background: white;
  width: 43.5rem;
  border-radius: .2rem;
  text-decoration: none;
  z-index: 1000;
}

.results {
  text-decoration: none;
}

.searchResultsContainer a, .searchResultsContainer li{
  list-style-type: none;
  padding: .1rem;
  border-radius: 1rem;
  text-decoration: none;
  color: black;
}

.resUl{
  text-decoration: none;
}
